{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Login - EduTask</title>
<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
<link rel="stylesheet" href="{% static 'CSS/auth.css' %}">
</head>
<body class="dark">

<nav>
    <a href="{% url 'Home' %}" class="brand">
        <div class="logo-icon">📋</div>
        <span>EduTask</span>
    </a>
    <ul class="nav-links">
        <li><a href="{% url 'register' %}" class="btn">Sign Up</a></li>
    </ul>
</nav>

<div class="auth-container">
  <div class="auth-box">

    <div class="auth-logo">
      <div class="icon">📋</div>
      <strong>EduTask</strong>
    </div>

    <h2>Welcome back</h2>
    <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>

    {% if messages %}
      {% for message in messages %}
        <div class="message {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}

   <form method="post" novalidate>
    {% csrf_token %}

    {% for field in form %}
      <label>{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}
        <div class="error">{{ field.errors.0 }}</div>
      {% endif %}
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="error">{{ form.non_field_errors.0 }}</div>
    {% endif %}

    <button type="submit">Log In →</button>
   </form>
  </div>
</div>
</body>
</html>
